apiVersion: v1
kind: Namespace
metadata:
  labels:
    app: external-secrets-operator
    control-plane: controller-manager
    app.kubernetes.io/name: external-secrets-operator
    app.kubernetes.io/managed-by: kustomize
  name: system
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: controller-manager
  namespace: system
  labels:
    app: external-secrets-operator
    control-plane: controller-manager
    app.kubernetes.io/name: external-secrets-operator
    app.kubernetes.io/managed-by: kustomize
spec:
  selector:
    matchLabels:
      app: external-secrets-operator
  replicas: 1
  template:
    metadata:
      annotations:
        kubectl.kubernetes.io/default-container: manager
      labels:
        app: external-secrets-operator
    spec:
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
              - matchExpressions:
                - key: kubernetes.io/arch
                  operator: In
                  values:
                    - amd64
                    - arm64
                    - ppc64le
                    - s390x
                - key: kubernetes.io/os
                  operator: In
                  values:
                    - linux
      securityContext:
        runAsNonRoot: true
        seccompProfile:
          type: RuntimeDefault
      containers:
      - command:
        - /bin/external-secrets-operator
        args:
          - --v=$(OPERATOR_LOG_LEVEL)
          - --leader-elect
          - --health-probe-bind-address=:8081
          - --metrics-bind-address=$(METRICS_BIND_ADDRESS)
          - --metrics-secure=$(METRICS_SECURE)
        ports:
          - containerPort: 8443
            name: https
            protocol: TCP
          - containerPort: 8080
            name: http
            protocol: TCP
        env:
          - name: WATCH_NAMESPACE
            valueFrom:
              fieldRef:
                fieldPath: metadata.annotations['olm.targetNamespaces']
          - name: POD_NAME
            valueFrom:
              fieldRef:
                fieldPath: metadata.name
          - name: OPERATOR_LOG_LEVEL
            value: "2"
          - name: OPERATOR_NAME
            value: external-secrets-operator
          - name: OPERATOR_IMAGE_VERSION
            value: 1.1.0
          - name: RELATED_IMAGE_EXTERNAL_SECRETS
            value: registry.stage.redhat.io/external-secrets-operator/external-secrets-rhel9@sha256:77553943b093fe92250e7bb611c2b1773e19c1eb79b4d8157dc27c4f5451a5dd
          - name: OPERAND_EXTERNAL_SECRETS_IMAGE_VERSION
            value: 0.20.4
          - name: RELATED_IMAGE_BITWARDEN_SDK_SERVER
            value: registry.stage.redhat.io/external-secrets-operator/bitwarden-sdk-server-rhel9@sha256:b06173da39700d2aa020d0f2c9ec890fc11ccb19c1b10d86197e9bfd9cf4c4ed
          - name: BITWARDEN_SDK_SERVER_IMAGE_VERSION
            value: 0.5.2
          - name: METRICS_BIND_ADDRESS
            value: ":8443"
          - name: METRICS_SECURE
            value: "true"
        image: controller:latest
        imagePullPolicy: Always
        name: manager
        securityContext:
          readOnlyRootFilesystem: true
          allowPrivilegeEscalation: false
          capabilities:
            drop:
            - "ALL"
          privileged: false
          runAsNonRoot: true
          seccompProfile:
            type: RuntimeDefault
        livenessProbe:
          httpGet:
            path: /healthz
            port: 8081
          initialDelaySeconds: 15
          periodSeconds: 20
        readinessProbe:
          httpGet:
            path: /readyz
            port: 8081
          initialDelaySeconds: 5
          periodSeconds: 10
        resources:
          requests:
            cpu: 100m
            memory: 1Gi
      serviceAccountName: controller-manager
      terminationGracePeriodSeconds: 10
