# permissions for end users to view externalsecrets.
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    app.kubernetes.io/name: external-secrets-operator
    app.kubernetes.io/managed-by: kustomize
  name: externalsecrets-viewer-role
rules:
- apiGroups:
  - operator.operator.openshift.io
  resources:
  - externalsecrets
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - operator.operator.openshift.io
  resources:
  - externalsecrets/status
  verbs:
  - get
